header #header-favs,
header #header-bookings {
  display: none;
}

.section#section-bookingsList h2 {
  text-align: center;
}

#bookings {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#bookings #deleteAll {
  font-size: 18px;
  text-align: right;
  cursor: pointer;
}

.booking {
  border-radius: 6px;
  border: 1px solid #27272a;
  padding: 8px 20px 8px 12px;

  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.booking .title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 6px;
}

.booking .cancel img {
  padding-top: 8px;
  cursor: pointer;
}

.modal#modal-delete {
  display: none;
}
