header {
  width: 100%;
  padding: 32px 32px 0;
  display: flex;
  flex-direction: column;
}
@media screen and (width >= 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

header > div {
  flex: 1;
}

#header-h1 {
  text-align: center;
}
@media screen and (width >= 768px) {
  header #header-h1 {
    order: 2;
  }
}

header #header-favs {
  display: flex;
  gap: 4px;
  text-decoration: underline;
}
@media screen and (width >= 768px) {
  header #header-favs {
    order: 1;
  }
}

@media screen and (width >= 768px) {
  header #header-bookings {
    text-align: right;
    order: 3;
  }
}

#noBookings {
  margin-top: 32px;
}

#bookings #bookings-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#app-content {
  display: none;
}
#app-content.show {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

#section-districtSelector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#districtSelector-title {
  padding: 16px;
}

.modal #btn-confirm {
  margin: auto;
}
