header {
  width: 100%;
  padding: 32px 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > div {
  flex: 1;
}

#header-h1 {
  text-align: center;
}

header #header-favs {
  display: flex;
  gap: 8px;
  text-decoration: underline;
  cursor: pointer;
  /* align-items: center; */
}

#noBookings {
  margin-top: 32px;
}

#bookings #bookings-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#header-bookings {
  text-align: right;
}

#app-content {
  display: none;
}
#app-content.show {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
}

#section-districtSelector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#districtSelector-title {
  padding: 16px;
}

.modal #btn-confirm {
  margin: auto;
}
